version: '3.4'

services:
  postgresql:
    image: postgres:12-alpine
    container_name: authentik_db
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
    volumes:
      - "{{ app_data_base_path }}/authentik/db:/var/lib/postgresql/data"
    environment:
      - POSTGRES_PASSWORD={{ authentik_db_password }}
      - POSTGRES_USER=authentik
      - POSTGRES_DB=authentik

  redis:
    image: redis:alpine
    container_name: authentik_redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 20s
      interval: 30s
      retries: 5

  server:
    image: ghcr.io/goauthentik/server:latest
    container_name: authentik_server
    restart: unless-stopped
    command: server
    ports:
      - "9001:9000" # Exposing on host 9001 to avoid conflict with MinIO
      - "9444:9443" # Exposing on host 9444 to avoid conflict with Portainer
    volumes:
      - "{{ app_data_base_path }}/authentik/media:/media"
      - "{{ app_data_base_path }}/authentik/templates:/templates"
    environment:
      - AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=authentik
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_db_password }}
      - AUTHENTIK_REDIS__HOST=redis
    depends_on:
      - postgresql
      - redis

  worker:
    image: ghcr.io/goauthentik/server:latest
    container_name: authentik_worker
    restart: unless-stopped
    command: worker
    volumes:
      - "{{ app_data_base_path }}/authentik/media:/media"
      - "{{ app_data_base_path }}/authentik/certs:/certs"
      - "{{ app_data_base_path }}/authentik/templates:/templates"
    environment:
      - AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=authentik
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_db_password }}
      - AUTHENTIK_REDIS__HOST=redis
    depends_on:
      - postgresql
      - redis
