version: '3.7'

services:
  minio:
    image: minio/minio:latest
    container_name: minio_server
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web Console
    environment:
      MINIO_ROOT_USER: "{{ minio_root_user }}"
      MINIO_ROOT_PASSWORD: "{{ minio_root_password }}"
    volumes:
      - "{{ app_data_base_path }}/minio/data:/data"
    restart: always
